@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700); /* Fonts */

/**  Global Styling **/
body{
  font-family: "Arial", "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 10px;
  position: relative;
  color: #615d5f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", sans-serif;
  font-weight: 100;
  margin: 0;
}

h1, h2, h3, h3.modal-title, h4, header .contact-info p, .lightBoxGallery .overlay-text p, .row-CTA h3, .row-orderSteps .platings li {
  font-weight: 700;
}

h1 {
  margin-bottom: 20px;
  line-height: 45px;
}

h2 {
  line-height: 38px;
}

.row-valueStatement .content h2 {
  margin: 0;
  font-size: 2.5em;
}

h3 {
  font-size: 2.6em;
  margin-bottom: 10px;
}
h3.modal-title {
  font-size: 1.6em;
}
.row-CTA h3 {
  font-size: 3em;
}

h4 {
  color: #d6803e;
  font-size: 2.2em;
}

p, ul li {
  font-size: 1.6em;
}

p {
  line-height: 24px;
  margin-bottom: 25px;
}

a {
  color: inherit;
}
a:hover, header .contact-info p:hover {
  color: #a45413;
}

.content p a {
    text-decoration: underline;
}

span.glyphicon {
    padding-right: 10px;
}

section .content > div {
    padding: 50px 50px;
}

.lightBoxGallery li, footer ul li {
    list-style-type: none;
}

.noPaddingBottom {
  padding-bottom: 0 !important;
}

.navbar-nav > li {
    font-size: 1em;
}

.container-fluid {
  padding: 0;
}

/**  Carousel Fade **/
.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
  transition: opacity ease-out .7s;

  -webkit-transition: opacity ease-out .7s;
  -moz-transition: opacity ease-out .7s;
  -ms-transition: opacity ease-out .7s;
  -o-transition: opacity ease-out .7s;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control:focus, .carousel-control:hover {
  transition: all 0.5s ease-out;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.carousel-control.right,
.carousel-control.left {
  /*background-image: none;*/
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 430px;
  width: 570px;
}

/* GLOBAL HEADER */
header .container, .displayFlex {
  display: flex;

  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/**  GLOBAL HEADER - navbar-brand **/
header .navbar-brand {
  height: auto;
  padding: 0;
  float: none;
}
header .navbar-brand img {
  margin: 0 auto;
  width: 100%;
  max-width: 560px;
}

/* GLOBAL HEADER - contact-info */
header .contact-info p {
  font-size: 2em;
  margin-bottom: 15px;
}

/* GLOBAL HEADER - company-slogan */
header .company-slogan p {
    font-size: 3.2em;
    margin: 20px auto 30px;
}


/**  Header Navigation **/
header .navWrapper {

}

header nav.container, header .navbar-collapse {
  padding: 0;
}
header nav {
  overflow: hidden;
  background-color: #625a58;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
}
header .navbar-nav, header .navbar-collapse {
  width: 100%;
}
header .navbar-nav {
  background-color: transparent;
  border: none;
  text-align: center;
}
header .navbar-nav li {
  border-right: 1px solid #443a3b;
  display: inline-block;
  float: none;
  margin-left: -3px;
}
header .navbar-nav li:last-of-type {
  border-right: 0 none;
}

.navbar-nav > li a {
  color: #fff;
  padding: 20px 36px;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.navbar-nav > li.active a {
  color: #2c0b02;
  background-color: #a45413;
}
.navbar-nav > li a:hover {
	background-color: #d6803e;
	color: #625a5a;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #EEC856;
  background: transparent;
  border-bottom: 4px solid #EEC856;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #E15D5F;
  background: transparent;
  text-shadow: none;
}

/**  Navbar Toggle - Navigation for mobile **/
header .navbar-toggle {
  background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media only screen
and (max-width: 768px) {
  header .navbar-collapse.in {
    background-color: rgba(0,0,0, .5);
  }
}

/**  nav inbody **/
header .inbody {
  /*background: rgba(98,90,88,.75);*/
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 43px;
  background-position: top left;
  margin-top: 5px;
  padding-bottom: 0;
  margin-left: 10px;
}

header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 38px;
}

header .inbody .navbar-brand span.subhead {
  display: none;
}

/* GLOBAL HEADER - fb-share */
.fb-share {

}
.fb-share:hover {
    opacity: .75;
}


/**  Page **/
.page {
  padding: 0;
}

.page h2 {
  margin-bottom: 30px;
}


/* Section row-hero */
.row-hero .container {
  border-bottom: 1px solid #625a58;
}
.row-hero .container .col-lg-12 {
  padding-bottom: 0;
}
.row-hero .container .col-lg-6 {
    padding: 70px 20px 50px 30px;
}
.row-hero .container .col-lg-6.slideshow {
  padding: 50px 0;
}


/* Section row-valueStatement */
.row-valueStatement .content {
    background-color: #625a58;
    color: #fff;
}

.row-valueStatement .content > div {
  padding: 30px 10%;
}

/* Section row-gallery (Multiples on a page)  */
.row-gallery.darkBg {
    background-color: #2b2625;
    color: #fff;
}

/* Section row-gallery */
.row-gallery .content > div {
    padding: 50px 0;
    z-index: 0;
}
.lightBoxGallery .thumbnail, #modal-gallery .thumbnail {
    padding: 0;
    margin: 0;
    line-height: normal;
    border: 0 none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.lightBoxGallery {
    padding: 0;
}
.lightBoxGallery li {
    max-width: 215px;
    width: 100%;
    display: inline-block;
    float: none;
    overflow: hidden;
    margin: 5px;
    position: relative;
    font-size: 1em;
}
.lightBoxGallery li .overlay-text, .lightBoxGallery li:hover .overlay-text, .lightBoxGallery li:hover img {
    transition: all 0.5s ease-out;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.lightBoxGallery .overlay-text {
    position: absolute;
    width: 100%;
    height: 160px;
    top: 0;
    left: 0;
    background-color: rgba(164,84, 19, 0.95);
    padding: 20px;
    display: table;
    z-index: -1;
}
.lightBoxGallery .overlay-text p {
    font-size: 1.8em;
    color: #fff;
    margin: 0;
    line-height: 20px;
    display: table-cell;
    vertical-align: middle;
}
.lightBoxGallery li:hover img {
  opacity: 0.2;
}

#modal-gallery {
  transition: all 0.5s ease-out;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.modal-dialog {
    width: 530px;
}
.modal-content {
  border-radius: 0;

  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#modal-gallery .carousel-control.left, #modal-gallery .carousel-control.right {
    display: none;
}
.modal-footer {
  padding: 15px 10px;
}

/* GLOBAL row-CTA */
.row-CTA {
  background-color: #d6803e;
}
.row-CTA h3 {
  color: #fff;
  line-height: 42px;
}

/**  Footer **/
footer {
  background: #2b2625;
  color: #E0E6AE !important;
  padding: 20px 0;
}

footer a, footer .navbar-nav>li a {
  color: #E0E6AE !important;
}

footer a:hover, footer .navbar-nav>li a:hover {
  color: #EEC856 !important;
}

footer .navbar, footer p {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin: 0 1%;
}

footer .navbar {
  min-height: 0;
  margin-right: 10%;
}

footer .navbar-default {
  background-color: transparent;
  border: none;
}

footer .navbar-nav>li a {
  padding: 10px 12px;
  font-weight: 400;
}

footer .navbar-nav>li a:hover {
  text-decoration: underline;
}

/** ------------------------- EASY ORDERING PAGE ------------------------- **/
.row-orderSteps .col-lg-2 {
    background-color: #d6803e;
    border-bottom: 20px solid #625a5a;
    padding: 30px 50px;
}
.row-orderSteps .col-lg-2:before {
  border-color: #625a5a transparent transparent;
    border-style: solid;
    border-width: 25px 25px 0;
    content: "";
    height: 0;
    left: 50%;
    overflow: hidden;
    position: absolute;
    bottom: -45px;
    width: 0;
    transform: translate(-50%, 0);

  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.row-orderSteps .col-lg-10 {
    padding-top: 0;
}
.row-orderSteps .stepNum {
  font-size: 3.6em;
  margin: 0;
  color: #fff;
  font-weight: 700;
  border: 5px solid white;
  border-radius: 100%;
  padding: 25px;
}
.row-orderSteps img {
    margin-bottom: 20px;
}
.row-orderSteps .platings {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin-bottom: 25px;

    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
.row-orderSteps .platings li {
    padding: 10px 20px;
    text-align: center;
}
.row-orderSteps .platings li:nth-of-type(1){ /* Gold */
  background-color: gold;
}
.row-orderSteps .platings li:nth-of-type(2){ /* Antique Gold */
  background-color: yellow;
}
.row-orderSteps .platings li:nth-of-type(3){ /* Silver */
  background-color: silver;
}
.row-orderSteps .platings li:nth-of-type(4){ /* Antique Silver */
  background-color: pink;
}
.row-orderSteps .platings li:nth-of-type(5){ /* Antique Nickel */
  background-color: blue;
}
.row-orderSteps .platings li:nth-of-type(6){ /* Copper */
  background-color: gray;
}
.row-orderSteps .platings li:nth-of-type(7){ /* Antique Copper */
  background-color: green;
}
.row-orderSteps .platings li:nth-of-type(8){ /* Brass */
  background-color: red;
}
.row-orderSteps .platings li:nth-of-type(9){ /* Antique Brass */
  background-color: purple;
}
.row-orderSteps .platings li:nth-of-type(10){ /* Black Nickel */
  background-color: teal  ;
}

.row-orderSteps.step3 .extra {
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    margin-bottom: 25px;
    width: 40%;
}

/** ------------------------- FAQS PAGE ------------------------- **/
.panel-group {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #625a58;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #fff;
    background-color: #625a58;
}

.panel-title {
    font-size: 2em;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}
.panel-title > a:hover, .panel-title > a:hover i {
  color: #d6803e;
  transition: all 0.3s ease-out;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.more-less {
    float: right;
    color: #fff;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.row-faqs ul {
    display: inline-block;
}
.row-faqs ul li {
  text-align: left;
}

.floatLeft img, .floatLeft p {
    float: left;
}
.floatLeft p {
    text-align: left;
    width: 55%;
    margin: 20px 5% 10px;
}
.floatLeft img {
    width: 200px;
    height: 200px;
}


/** ------------------------- CONTACT PAGE ------------------------- **/
section .content .map {
	padding: 0;
}


